<form method="post" action="{{ path('poste_delete', {'id': poste.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer ce poste?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ poste.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
