<form method="post" action="{{ path('matiere_premiere_delete', {'id': matiere_premiere.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer cette matière prémière?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ matiere_premiere.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
