<form method="post" action="{{ path('type_probleme_delete', {'id': type_probleme.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer ce type de problème?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_probleme.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
