{% extends 'base.html.twig' %}

{% block title %}AgroAL LvT{% endblock %}
{% block body %}
{% for contenu in app.session.getflashbag.get('typeProbleme.suppression') %}
        <div class=" text-center alert alert-danger" role="alert">

            <div>
                <button type="button" class="close" data-dismiss="alert" aria-label="close">  <span aria-hidden="true">&times;
            </span>  </button><span style="font-size:18px"> {{ contenu}} </span></div>

        </div>
    {% endfor %}
  <div class="row">
  <div class="col-lg-8">
    <h1>Suppression du type de problème</h1>
    </div>
     <div class="col-lg-3">
     </div>
      <div class="col-lg-1">
        <a href="{{ path('type_probleme_index') }}" data-toggle="tooltip" data-placement="top" title="Liste des types de problèmes"  class="btn btn-success btn-circle">
          <i class="fas fa-clipboard-list"></i>
        </a>
      </div>
    </div>
            <br/><br/>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Probleme</th>
                <td>{{ type_probleme.probleme }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('type_probleme/_delete_form.html.twig') }}
{% endblock %}
