<form method="post" action="{{ path('identificationccp_danger_delete', {'id': identificationccp_danger.id}) }}" onsubmit="return confirm('êtes-vous sûr denvouloir supprimer cette identification de ccp et danger?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ identificationccp_danger.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
