<form method="post" action="{{ path('etape_delete', {'id': etape.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer cette étape?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etape.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
