<form method="post" action="{{ path('equipe_delete', {'id': equipe.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer cette équipe?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipe.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
