<form method="post" action="{{ path('critere_surveille_delete', {'id': critere_surveille.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer ce critère de surveillance?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ critere_surveille.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>

